<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />
	<title>@ViewData["Title"] - BarFly</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UAInnovateChallenge.styles.css" asp-append-version="true" />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&display=swap" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/assets/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<link rel="stylesheet" href="/assets/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="/assets/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/assets/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="/assets/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="/assets/css/custom.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Document Title
	============================================= -->
	<title>Home - Portfolio Layout 3 | Canvas</title>

</head>

<body class="stretched side-header">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header">
			<div id="header-wrap">
				<div class="container">
					<div class="header-row justify-content-between">

						<!-- Logo
						============================================= -->
						<div id="logo">
							<a href="index.html" class="standard-logo" data-dark-logo="/assets/images/logo-side-dark.png" data-mobile-logo="/assets/images/logo.png"><img src="/assets/images/logo-side.png" alt="Canvas Logo"></a>
							<a href="index.html" class="retina-logo" data-dark-logo="/assets/images/logo-side-dark@2x.png" data-mobile-logo="/assets/images/logo@2x.png"><img src="/assets/images/logo-side@2x.png" alt="Canvas Logo"></a>
						</div><!-- #logo end -->

						<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

						<div class="header-misc">
							<div class="d-flex my-lg-3">
								<a href="#" class="social-icon si-small si-borderless si-facebook">
									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>

								<a href="#" class="social-icon si-small si-borderless si-twitter">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
								</a>

								<a href="#" class="social-icon si-small si-borderless si-gplus">
									<i class="icon-gplus"></i>
									<i class="icon-gplus"></i>
								</a>

								<a href="#" class="social-icon si-small si-borderless si-pinterest">
									<i class="icon-pinterest"></i>
									<i class="icon-pinterest"></i>
								</a>

								<a href="#" class="social-icon si-small si-borderless si-github">
									<i class="icon-github"></i>
									<i class="icon-github"></i>
								</a>
							</div>
						</div>

						<!-- Primary Navigation
						============================================= -->
						<nav class="primary-menu on-click">

							<ul class="menu-container">
								<li class="menu-item"><a class="menu-link" href="/#"><div>Home</div></a></li>
								<li class="menu-item"><a class="menu-link" href="/UserPosts"><div>User Posts</div></a></li>
								<li class="menu-item"><a class="menu-link" href="/BarPosts"><div>Bar Posts</div></a></li>
								<li class="menu-item"><a class="menu-link" href="/UserFavorites"><div>Favorites</div></a></li>
								<li class="menu-item"><a class="menu-link" href="/Bars"><div>Bars</div></a></li>
								<partial name="_LoginPartial" />
							</ul>

						</nav><!-- #primary-menu end -->

					</div>
				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header><!-- #header end -->


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

	<footer id="footer" class="dark">

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">

					<div class="center">
						Copyrights &copy; 2020 All Rights Reserved by Canvas Inc.<br>
						<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- JavaScripts
	============================================= -->
	<script src="/assets/js/jquery.js"></script>
	<script src="/assets/js/plugins.min.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="/assets/js/functions.js"></script>

	<!-- Portfolio Script
	============================================= -->
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)    
</body>
</html>
