@model IEnumerable<UAInnovateChallenge.Models.Bar>

@{
    ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color: gold;">Beer Time</h1>
@foreach (var item in Model) {
<!-- Content
============================================= -->
<section id="content">
	<div class="content-wrap py-0">

		<!-- Portfolio Items
		============================================= -->
		<div id="portfolio" class="portfolio row grid-container portfolio-reveal g-0" data-layout="fitRows">
			<article class="portfolio-item col-12 col-sm-6 col-md-4 pf-illustrations">
				<div class="grid-inner">
					<div class="portfolio-image">
						<a href="portfolio-single.html">
							@if (item.BarPicture != null)
							{<img src="@Url.Action("GetBarPhoto", "Bars", new {item.Id})" alt="@Html.DisplayFor(modelItem => item.Name)" />}
						</a>
						<div class="bg-overlay">
							<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
								<a href="/assets/images/portfolio/full/2.jpg" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" data-lightbox="image" title="Image"><i class="icon-line-plus"></i></a>
								<a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item"><i class="icon-line-ellipsis"></i></a>
							</div>
							<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
						</div>
					</div>
					<div class="portfolio-desc">
						<h3><a href="/BarPosts">@Html.DisplayFor(modelItem => item.Name)</a></h3>
						<span><a href="#">Check out our posts!</a></span>
					</div>
				</div>
			</article>
		</div><!-- #portfolio end -->
	</div>
</section><!-- #content end -->
}