@model IEnumerable<UAInnovateChallenge.Models.Bar>

@{
    ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model) {
<article class="portfolio-item col-md-4 col-sm-6 col-12 pf-media pf-icons">
	<div class="grid-inner">
		<div class="portfolio-image">
			<a href="portfolio-single.html">
				@if (item.BarPicture != null)
							{<img style="height: 300px" src="@Url.Action("GetBarPhoto", "Bars", new {item.Id})" alt="@Html.DisplayFor(modelItem => item.Name)" />}
			</a>
			<div class="bg-overlay">
				<div class="bg-overlay-content dark" data-hover-animate="fadeIn">
					<a href="images/portfolio/full/1.jpg" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Image"><i class="icon-line-plus"></i></a>
					<a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350"><i class="icon-line-ellipsis"></i></a>
				</div>
				<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
			</div>
		</div>
		<div class="portfolio-desc">
			<h3><a href="/Bars/Details/@Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.Name)</a></h3>
			<span><a href="/Bars/Details/@Html.DisplayFor(modelItem => item.Id)">Check out @Html.DisplayFor(modeItem => item.Name)!</a></span>
		</div>
	</div>
</article>
}