@model UAInnovateChallenge.Models.UserPosts
@*@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>*@ 

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/AllPostsLayout.cshtml";
}

<h1>New Post</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="@User.Identity.Name" class="control-label"></label>
                <select asp-for="@User.Identity.Name" class ="form-control" asp-items="ViewBag.User"></select>
            </div>*@
            <div class="form-group">
                <label asp-for="PostDate" class="control-label"></label>
                <input asp-for="PostDate" class="form-control" />
                <span asp-validation-for="PostDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post" class="control-label"></label>
                <input asp-for="Post" class="form-control" />
                <span asp-validation-for="Post" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
