@model IEnumerable<UAInnovateChallenge.Models.UserPosts>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AllPostsLayout.cshtml";
}

<h1>User Posts</h1>

@foreach (var item in Model) {
<!-- Post Author Info
============================================= -->
<div class="card">
	<div class="card-header"><strong>Posted by <a href="#">@User.Identity.Name</a></strong></div>
	<div class="card-body">
		<div class="author-image">
			<img src="/assets/images/author/1.jpg" alt="Image" class="rounded-circle">
		</div>
		@Html.DisplayFor(modelItem => item.Post)
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </div>
</div><!-- Post Single - Author End --><br />
}
<p>
    <a asp-action="Create">Create New</a>
</p>